<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nooblol.user.mapper.UserSignOutMapper">

  <select id="selectUserCount" parameterType="UserSignOutDto" resultType="int">
    SELECT count(user_id)
    FROM users
    WHERE user_id = #{userId}
      AND user_password_hash = #{password}
  </select>

  <delete id="deleteUser" parameterType="UserSignOutDto">
    DELETE
    FROM users
    WHERE user_id = #{userId}
  </delete>
</mapper>