<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nooblol.board.mapper.ArticleReplyMapper">
  <insert id="insertReply" parameterType="ReplyDto">
    INSERT INTO bbs_articles_reply(article_id, reply_content, status, created_user_id,
                                   created_at, sort_no)
    VALUES (#{articleId}, #{replyContent}, #{status}, #{createdUserId}, #{createdAt}, 1)
  </insert>

  <update id="updateReply" parameterType="ReplyDto">
    UPDATE bbs_articles_reply
    SET reply_content = IFNULL(#{replyContent}, reply_content),
        status        = IFNULL(#{status}, status)
    WHERE reply_id = #{replyId}
  </update>

  <select id="selectCreatedUserIdByReplyId" parameterType="int" resultType="String">
    SELECT created_user_id
    FROM bbs_articles_reply
    WHERE reply_id = #{replyId}
  </select>

  <delete id="deleteReplyByReplyId" parameterType="int">
    DELETE
    FROM bbs_articles_reply
    WHERE reply_id = #{replyId}
  </delete>

  <delete id="deleteReplyByArticleId" parameterType="int">
    DELETE
    FROM bbs_articles_reply
    WHERE article_id = #{articleId}
  </delete>

  <select id="selectReplyByReplyId" parameterType="int" resultType="ReplyDto">
    SELECT reply_id,
           article_id,
           reply_content,
           status,
           sort_no,
           created_at,
           created_user_id,
           created_at
    FROM bbs_articles_reply
    WHERE reply_id = #{replyId}
  </select>

  <select id="selectReplyListByArticleId" parameterType="int" resultType="ReplyDto">
    SELECT reply_id,
           article_id,
           reply_content,
           status,
           created_at,
           created_user_id,
           created_at
    FROM bbs_articles_reply
    WHERE article_id = #{articleId}
    ORDER BY created_at ASC
  </select>
</mapper>