<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nooblol.board.mapper.ArticleMapper">
  <select id="selectArticleByArticleId" parameterType="int" resultType="ArticleDto">
    SELECT article_id,
           bbs_id,
           article_title,
           article_read_count,
           article_content,
           status,
           created_user_id,
           created_at,
           updated_at
    FROM bbs_articles
    WHERE article_id = #{articleId}
  </select>

  <select id="selectUserAuth" parameterType="String" resultType="int">
    SELECT user_role
    FROM users
    WHERE user_id = #{userId}
  </select>

  <update id="addReadCount" parameterType="int">
    UPDATE bbs_articles
    SET article_read_count = article_read_count + 1
    WHERE article_id = #{articleId}
  </update>

  <insert id="insertArticle" parameterType="ArticleDto">
    INSERT INTO bbs_articles(bbs_id, article_title, article_read_count, article_content,
                             status, created_user_id, created_at, updated_at)
    VALUES (#{bbsId}, #{articleTitle}, #{articleReadCount}, #{articleContent}, #{status},
            #{createdUserId}, #{createdAt}, #{updatedAt})
  </insert>

  <update id="updateArticle" parameterType="ArticleDto">
    UPDATE bbs_articles
    SET bbs_id          = IFNULL(#{bbsId}, bbs_id),
        article_title   = IFNULL(#{articleTitle}, article_title),
        article_content = IFNULL(#{articleContent}, article_content),
        status          = IFNULL(#{status}, status),
        updated_at      = #{updatedAt}
    WHERE article_id = #{articleId}
  </update>


  <select id="selectCreatedUserId" parameterType="int" resultType="String">
    SELECT created_user_id
    FROM bbs_articles
    WHERE article_id = #{articleId}
  </select>

  <delete id="deleteArticleByArticleId" parameterType="int">
    DELETE
    FROM bbs_articles
    WHERE article_id = #{articleId}
  </delete>
</mapper>