<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nooblol.board.mapper.CategoryMapper">

  <select id="selectCategoryList" parameterType="int" resultType="CategoryDto">
    SELECT category_id,
           category_name,
           status,
           created_user_id,
           created_at,
           updated_user_id,
           updated_at
    FROM bbs_category
    WHERE status = #{status}
  </select>

  <select id="selectCategoryByCategoryId" parameterType="int" resultType="CategoryDto">
    SELECT category_id,
           category_name,
           status,
           created_user_id,
           created_at,
           updated_user_id,
           updated_at
    FROM bbs_category
    WHERE category_id = #{categoryId}
  </select>

  <select id="selectBbsList" parameterType="SearchBbsListDto" resultType="BbsDto">
    SELECT bbs_id,
           category_id,
           bbs_name,
           status,
           created_user_id,
           created_at,
           updated_user_id,
           updated_at
    FROM bbs
    WHERE category_id = #{categoryId}
      AND status = #{status}
  </select>

  <select id="selectAllBbsList" resultType="BbsDto">
    SELECT bbs_id,
           category_id,
           bbs_name,
           status,
           created_user_id,
           created_at,
           updated_user_id,
           updated_at
    FROM bbs
  </select>

  <insert id="insertCategory"
    parameterType="com.nooblol.board.dto.CategoryRequestDto$CategoryInsertDto">
    INSERT INTO bbs_category (category_name, status, created_user_id, created_at, updated_user_id,
                              updated_at)
    VALUES (#{categoryName}, #{status}, #{createdUserId}, #{createdAt}, #{updatedUserId},
            #{updatedAt})
  </insert>

  <update id="updateCategory"
    parameterType="com.nooblol.board.dto.CategoryRequestDto$CategoryUpdateDto">
    UPDATE bbs_category
    SET category_name   = #{newCategoryName},
        status          = #{status},
        updated_user_id = #{updatedUserId},
        updated_at      = #{updatedAt}
    WHERE category_id = #{categoryId}
  </update>

  <update id="deleteCategory"
    parameterType="com.nooblol.board.dto.CategoryRequestDto$CategoryDeleteDto">
    UPDATE bbs_category
    SET status          = #{status},
        updated_user_id = #{updatedUserId},
        updated_at      = #{updatedAt}
    WHERE category_id = #{categoryId}
  </update>
</mapper>