<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nooblol.account.mapper.SummonerMapper">
    <!--ID기반 소환사 정보 찾기-->
    <select id="selectAccount" resultType="SummonerDto">
        SELECT
            id, account_id, puuid, name, profile_icon_id, revision_Date, summoner_level
        FROM SUMMONER_ACCOUNT
        WHERE 1=1
        <if test='id != ""'>
            AND id = #{id}
        </if>
    </select>

    <!--소환사 정보 틀린거 있으면 업데이트-->
    <update id="updateAccount" parameterType="SummonerDto">
        UPDATE SUMMONER_ACCOUNT
        SET
            account_id=#{accountId}, puuid=#{puuid}, name=#{name}, profile_icon_id=#{profileIconId},
            revision_date=#{revisionDate}, summoner_level=#{summonerLevel}
        WHERE id=#{id}
    </update>

    <!--소환사 계정 데이터 삽입-->
    <insert id="insertAccount" parameterType="SummonerDto">
        INSERT INTO SUMMONER_ACCOUNT(id, account_id, puuid, name, profile_icon_id, revision_date, summoner_level)
        VALUES (#{id}, #{accountId}, #{puuid}, #{name}, #{profileIconId}, #{revisionDate}, #{summonerLevel})
    </insert>
</mapper>