# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: CI

on:
  push:
    branches:
      - 'feature/*'
  pull_request:
    branches:
      - 'develop'
      - 'feature/*'

jobs:
  CI:
    ## NCP OS : Ubuntu 18.04
    runs-on: ubuntu-18.04

    steps:
      ## Project JDK11 Setting
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      ## Riot Api Key 수정
      - name: Constants.yml Change Riot Api Key
        run: |
          cd ./src/main/resources
          chmod 755 constants.yml
          sed -i 's/riot-api-key/${{ secrets.RIOT_API_KEY }}/g' constants.yml 
          cat constants.yml
        shell: bash

      ## Gradle
      - name: Grant Execute permission for gradlew
        run: chmod +x gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew build -x test
        shell: bash

      - name: Test with Gradle
        run: SPRING_PROFILES_ACTIVE=[local] ./gradlew clean test
        shell: bash

      - name: Publish Unit Test Test Result
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: ${{ always() }}
        with:
          files: build/test-results/**/*.xml
